body {
  color: gold;
  background-image: url('restaurant.png');
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.container {
  margin-left: 200px;
}

.fancy-font {
  font-family: 'Kaushan Script', cursive;
  padding-left: 15px;
  padding-right: 15px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
  font-size: 32px;
}

#etch-board h1 {
  margin-left: 105px;
  padding-top: 30px;
  font-size: 20px;
}

#etch-board {
    background-color: red;
    width: 600px;
    height: 450px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000000;
    -webkit-box-shadow: 5px 5px 10px #000;
    -moz-box-shadow: 5px 5px 10px #000;
}

.gradient {
    background: -webkit-linear-gradient(left top, #FF0000, #FF3030); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #FF0000, #FF3030); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #FF0000, #FF3030); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #FF0000, #FF3030); /* Standard syntax (must be last) */

}

#canvas {
    position: absolute;
    width: 450px;
    height: 300px;
    top: 130px;
    left: 290px;
    background-color: #FFF;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    border-radius: 10px;

}

#knobs {
    position: absolute;
    bottom: 0px;
    width: 600px;
    height: 200px;
}

#shake {
    position: absolute;
    left: 320px;
}
