body {
  color: gold;
  background-image: url('restaurant.png');
}

.container {
  margin-left: 200px;
}

.fancy-font {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5em;
  padding-left: 15px;
  padding-right: 15px;
}

#etch-board h1 {
  margin-left: 80px;
  padding-top: 10px;
}

#etch-board {
    background-color: red;
    width: 600px;
    height: 450px;
    box-shadow: 0 0 10px #000000;
    margin-top: 50px;

}

#canvas {
    position: absolute;
    width: 450px;
    height: 300px;
    top: 130px;
    left: 275px;
    background-color: #FFF;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    border-radius: 10px;

}

#clear {
    position: relative;
    left: 225px;
}

#knob1 {
    background-color: #FFF;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 430px;
    left: 225px;
    border-radius: 30px;
}

#knob2 {
    background-color: #FFF;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 430px;
    left: 725px;
    border-radius: 30px;
}

.title {
    margin-left: 200px;
    padding-top: 10px;
}
